@model Burak_1380_MVC.Models.Urun
@{
    ViewBag.Title = "UrunDuzenle";
    Layout = "~/Areas/Yonetim/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>UrunDuzenle</h2>

<form method="post">
    <div class="box-body col-md-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Ürün Adı</label>
            <input type="text" class="form-control" id="" name="UrunAdi" value="@Model.UrunAdi">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Ürün Tarih</label>
            <input type="date" class="form-control" id="" name="UrunTarih" value="@Model.UrunTarih">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Ürün Stok</label>
            <input type="number" class="form-control" id="" name="UrunStok" value="@Model.UrunStok">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Ürün Fiyat</label>
            <input type="text" class="form-control" id="" name="UrunFiyat" value="@Model.UrunFiyat">
        </div>
       
        <div class="form-group">
            <label>Ürün Açıklama</label>
            <textarea name="UrunAciklama" class="form-control" rows="3" value="@Model.UrunAciklama" ></textarea>
        </div>
        <input type="hidden" name="UrunId" value="@Model.UrunId" />
        <div class="form-group">

            <input type="submit" name="name" value="Kaydet" class="btn btn-block" />
        </div>
    </div>
</form>